{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap" >

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'csss/line-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'csss/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'csss/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'csss/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'csss/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'csss/textfor.css' %}"> 
    {% include 'django_quill/media.html' %}
<style>
 .second2{
    margin-left:2rem;
}
.contentfor img{
    width: 100%;
}
</style>
</head>
<body>
        {% include "blog/inc/navbar.html" %}
        {% include "blog/inc/navbar_blog.html" %}

        <div class="container mt-5">
            <div class="row" >
                <div class="col-lg-8">
                    {% block content %}
                
                    {% endblock %}
                </div>
                <div class="col-lg-4">
                    {% include "blog/inc/sidebar.html" %}
                </div>
            </div>
        </div> 
        {% include "blog/inc/footer.html" %}
<script src="{% static 'jss/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'jss/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'jss/owl.carousel.min.js' %}"></script>
<script src="{% static 'jss/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'jss/jquery.lazy.min.js' %}"></script>
<script src="{%  static 'jss/main.js' %}"></script>
</body>
</html>